{erl_opts, [debug_info, warnings_as_errors, warn_export_all]}.
{deps,
 [{'erlkit', ".*",
   {git, "git@github.com:jflatow/erlkit.git", "master"}},
  {'erloom', ".*",
   {git, "git@github.com:jflatow/erloom.git", "master"}},
  {'jfdb', ".*",
   {git, "git@github.com:jflatow/jfdb.git", "master"}, [raw]}]}.
{pre_hooks,
 [{compile, "make -C $REBAR_DEPS_DIR/jfdb erlang"}]}.
